@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');


.center-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

img {
    max-width: 40%;
    height: auto;
}
h1 {
    font-family: 'Lato', sans-serif; /* Fuente personalizada para h1 */
    text-align: center; /* Centrando el título */
}
h2 {
    font-family: 'Lato', sans-serif; /* Fuente personalizada para h1 */
}

p {
    font-family: 'Open Sans', sans-serif; /* Fuente personalizada para párrafos */
}
